name: Build
on:
  workflow_dispatch:
  pull_request:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install dependencies
        run: |
          sudo apt-get install -y libgtest-dev
      - name: Build and check memtailor
        run: |
          mkdir BUILD
          cd BUILD
          ../autogen.sh
          ../configure
          make distcheck
